 <!-- Animated navbar -->

  <!-- Background image -->
  <!--<div
       id="intro"
       class="bg-image"
       style="
              background-image: url(https://codyhouse.co/demo/parallax-hero-image/img/cd-img-1.jpg);
              height: 100vh;
              background-repeat: no-repeat;
              "
       >
   
  </div>-->




  <div class="cd-background-wrapper" id="image-navbar">
    <figure class="cd-floating-background">
        <!--imagen de fondo-->
          <img src="../../../assets/images/inicio2.jpg" alt="image-1">          
          <!--<img src="https://codyhouse.co/demo/parallax-hero-image/img/cd-img-2.png" alt="image-2">-->          
          <!--imagen de fondo-->
          
          <!--<img src="https://codyhouse.co/demo/parallax-hero-image/img/cd-img-3.png" alt="image-3">-->             
                
    </figure>
</div>