
      <section class="container pb-4 mb-md-3 mini-banner" id="linear-images">
        <div class="row">


          <div class="col-md-8 mb-4 col-12 p-3 mb-5">
            <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3">
              <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                <h4 class="fs-lg fw-light mb-2">¡ Date prisa !</h4>
                <h3 class="mb-4">Cotiza con nosotros el uniforme que recordarás por siempre
                </h3><a class="btn btn-primary btn-shadow btn-sm" href="https://wa.me/526682347696?text=Hola%20Bienvenido%20a%20Vga%20Uniformes%20.%20¿Cuál%20es%20su%20consulta?" target="_blank">Cotizar</a>
                
              </div><img class="d-block ms-auto" src="../../../assets/illustrations/undraw_winners_re_wr1l.svg" width="390" height="226">
            </div>
          </div>




          <div class="col-md-4 mb-4 col-12 p-3 mb-5">
            <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-3" style="background-image: url(../../../assets/illustrations/undraw_qa_engineers_dg-5-p.svg); width: 390px; height: 226px;">
              <div class="py-4 my-2 px-4 text-center"><!--illustrations/undraw_qa_engineers_dg-5-p.svg   undraw_people_re_8spw-->
                <div class="py-1">
                  <h5 class="mb-2">Diseñado para trabajadores duros</h5>
                  <p class="mb-2">Date prisa y adquiere el tuyo</p><a class="btn btn-primary btn-shadow btn-sm" [routerLink] = "['/modelos']">Ver más</a>
                </div>
              </div>
            </div>
          </div>  
                              
          </div>


        
      </section>    




