<div id="map">
    <!--title-->
      <div>
      
        <h5 class="display-5 fw-bold" style="text-align: center;">
        Nuestra ubicaci&oacute;n
        </h5>
       </div>
       <!--title--> 
    <div class="row">
        <div class="hijo" style="overflow:hidden;resize:none;max-width:100%;width:500px;height:500px;"><div id="googlemaps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=los+mochis+calle+articulo+123+2356&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="codefor-google-map" href="https://www.embed-map.com" id="injectmap-data">https://www.embed-map.com</a><style>#googlemaps-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
      </div>
    </div>

    <section class="container-fluid px-0" id="sep">
        <div class="row g-0">
          <div class="col-md-6"><a style="background-color: #273B54" class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary" href="https://www.facebook.com/VGA-Uniformes-250208832152450">
              <div class="card-body text-center"><i class="ci-edit h3 mt-2 mb-4 text-primary"></i>
                <h3 class="h5 mb-1">Siguenos en Facebook</h3>
                <p class="text-white fs-sm">y dale like.<img src="../../../assets/icons/like.png" width="20" height="20">
                </p>
              </div></a></div>
          <div class="col-md-6"><a style="background: linear-gradient(#EB605D, #D34899)" class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent" href="https://www.instagram.com/vga_uniformes/">
              <div class="card-body text-center"><i class="ci-instagram h3 mt-2 mb-4 text-accent"></i>
                <h3 class="h5 mb-1 text-white">Siguenos en Instagram</h3>
                <p class="text-white fs-sm">#VgaLosCabos y #VgaLosMochis <img src="../../../assets/icons/verified.png" width="20" height="20" class="shadow-lg"></p>
              </div></a></div>
        </div>
      </section>

