<!--svg-->
<div class="curved pt-5 text-center row" >

  <div class="col-md-6">
    <h1 class="display-4 fw-bold" style="color: white;">Siéntete bien, viste mejor!</h1>    
    <h4 class="lead mb-4 fw-bold" style="color: white;">
      Disfruta de tu trabajo vistiendo tus uniformes más comodos.<br>
      Diseñamos y confeccionamos tus uniformes de acuerdo a tus necesidades
      <!--Trabaja de forma inteligente, vístete de forma más inteligente-->
    </h4>
   
    <!--<div class="row justyf padd">
      <div class="col-md-6 d-grid gap-2 d-md-block">       
      </div>     
    </div>-->

    <div class="row justyf">
      <div class="col-md-12">
        
  
        <span class="badge  shadow-lg me-1" style="background-color: #314f75;">Bordados</span>
        <span class="badge  shadow-lg me-1" style="background-color: #314f75;">Confección</span>
        <span class="badge  shadow-lg me-1" style="background-color: #314f75;">Vinil</span>
        <span class="badge  shadow-lg me-1" style="background-color: #314f75;">Textil</span> 
        <!--<span class="badge  shadow-lg me-1" style="background-color: #2B82FC;">Profesional</span>-->
      </div>                                                                           
    </div>  
  </div>

<div class="col-md-6">
  <img class="img-fluid" src="../../../assets/illustrations/undraw_team_work_k-80-m.svg" width="300" height="300">
</div>



   
</div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273B54" fill-opacity="1" d="M0,96L48,133.3C96,171,192,245,288,277.3C384,309,480,299,576,261.3C672,224,768,160,864,128C960,96,1056,96,1152,106.7C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>   
<!--svg-->





<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/illustrations/undraw_complete_design_re_h75h.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Uniformes de excelente calidad</h1>
      <p class="lead">
        Confeccionamos con los mejores materiales tus uniformes y les brindamos la mejor comodidad trabajando con las mejores marcas para tus uniformes.        
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">        
        <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" [routerLink]="['/modelos']">Ver todos los modelos</a>

        
        <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="https://wa.me/526682347696?text=Hola%20Bienvenido%20a%20Vga%20Uniformes%20.%20¿Cuál%20es%20su%20consulta?" target="_blank">
          Cotiza ya!
        </a> 
      </div>
    </div>
  </div>
</div>








 
    
 
    
    



   

 
   
