

<div class="container pt-5" id="modelos">
  <div class="row">
    <div class="col-md-8 order-md-2 col-lg-9">
      <div class="container-fluid">
    
        <!--<div class="row" id="images">
          <div class="col-6 col-md-6 col-lg-4 mb-3" *ngFor="let item of items">
            <div class="card h-100 border-0 shadow-lg" id="camisa_negra">
              <div class="card-img-top">
                <img [src]="item.imagen" class="img-fluid mx-auto d-block rounded" alt="Card image cap">
              </div>
              <div class="card-body text-center">
                <h4 class="card-title">
                  {{item.title}}
                </h4>
                <h5 class="card-price small text-primary">
                  <i>
                    {{item.marca}} Tallas: {{item.talla}}</i>
                </h5>
                <button type="button" class="btn btn-primary">Ver producto</button>
                
              </div>
            </div>
          </div>                                     
        </div>-->
       <!--pagination-->
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </nav>-->
       <!--pagination-->
      </div>
    </div>
    
    <!--<div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
      <h3 class="mt-0 mb-5">Todos los Modelos</h3>
      <h6 class="text-uppercase font-weight-bold mb-3">Categorias</h6>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Pantalones
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="trabajo">
                <label class="form-check-label" for="trabajo">
                  Pantal&oacute;n de trabajo
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="vestir">
                <label class="form-check-label" for="vestir">
                  Pantal&oacute;n de vestir
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="jeans">
                <label class="form-check-label" for="jeans">
                  Jeans
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="bermudas">
                <label class="form-check-label" for="bermudas">
                  Bermudas
                </label>
              </div>                                                     
            </div>
          </div>
        </div>
      </div>

            <div class="accordion" id="acordion_camisa">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Playeras y polo
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="mangacorta">
                      <label class="form-check-label" for="mangacorta">
                        Camisa manga corta
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="mangalarga">
                      <label class="form-check-label" for="mangalarga">
                        Camisa manga larga
                      </label>
                    </div>


                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="chalecos">
                      <label class="form-check-label" for="chalecos">
                        Chalecos
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    
      
      <div class="mt-2 mb-2 pl-2">
        <a href="#" class="btn btn-lg btn-block btn-primary mt-5" id="reload">Actualizar</a>
      </div>      
      
    </div>-->





    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-3 separacion" >
            <div class="card text-black h-100 border-0 shadow-lg">
              <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>          
                <img src="../../../assets/images/marino2.jpg" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">PLAYERYTEES</h5>
                  <p class="text-muted mb-4">POLO MOD.900 POLIESTER SPORT CABALLERO Y DAMA </p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Marca:</span><span>PLAYERYTEES</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Tallas:</span><span>CH - 4EG</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>50% algodon-50% poliester</span>
                  </div>
                </div>
                <!--<div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>-->
              </div>
            </div>
          </div>










          <div class="col-md-8 col-lg-6 col-xl-3 separacion" >
            <div class="card text-black h-100 border-0 shadow-lg">
              <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>          
                <img src="../../../assets/images/marino2.jpg" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">MAYORK</h5>
                  <p class="text-muted mb-4">POLO MOD.900 POLIESTER SPORT CABALLERO Y DAMA </p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Marca:</span><span>MAYORK</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Tallas:</span><span>CH - 4EG</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>50% algodon-50% poliester</span>
                  </div>
                </div>
                <!--<div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>-->
              </div>
            </div>
          </div>









          <div class="col-md-8 col-lg-6 col-xl-3 separacion" >
            <div class="card text-black h-100 border-0 shadow-lg">
              <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>          
                <img src="../../../assets/images/marino2.jpg" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">TF MOCHIS</h5>
                  <p class="text-muted mb-4">POLO MOD.900 POLIESTER SPORT CABALLERO Y DAMA </p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span>Marca:</span><span>TF MOCHIS</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Tallas:</span><span>CH - 4EG</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>50% algodon-50% poliester</span>
                  </div>
                </div>
                <!--<div class="d-flex justify-content-between total font-weight-bold mt-4">
                  <span>Total</span><span>$7,197.00</span>
                </div>-->
              </div>
            </div>
          </div>











        </div>
      </div>      
    </section>

  </div>
</div>





