<div class="container pt-5" id="modelos">
  <div class="row">
    <div class="col-md-8 order-md-2 col-lg-9">
      <div class="container-fluid">


</div>
</div>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-3 separacion" *ngFor="let item of items">
        <div class="card text-black h-100 border-0 shadow-lg">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>          
            <img [src]="item.imagen" class="card-img-top" alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="text-muted mb-4">{{item.descripcion}}</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Marca:</span><span>{{item.marca}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Talla:</span><span>{{item.talla}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Codigo del producto:</span><span>{{item.codigo}}</span>
              </div>
            </div>
            <!--<div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Total</span><span>$7,197.00</span>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>