
  <div class="container">
  <swiper [slidesPerView]="3" [pagination]="{ clickable: true }"><!--[navigation]="true"-->

    <ng-template swiperSlide> <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/negro.jpg" class="card-img-top rounded " alt="...">
      
      </div></ng-template>
    
    <ng-template swiperSlide><div class="card" style="width: 18rem;">
        <img src="../../../assets/images/negro2.jpg" class="card-img-top rounded " alt="...">
        
      </div></ng-template>
    
    <ng-template swiperSlide><div class="card" style="width: 18rem;">
        <img src="../../../assets/images/marino2.jpg" class="card-img-top rounded " alt="...">
       
      </div></ng-template>
    
    <ng-template swiperSlide><div class="card" style="width: 18rem;">
        <img src="../../../assets/images/originals/blanco.jpeg" class="card-img-top rounded " alt="...">
       
      </div></ng-template>
    
    <ng-template swiperSlide><div class="card" style="width: 18rem;">
        <img src="../../../assets/images/originals/blanco2.JPG" class="card-img-top rounded " alt="...">
       
      </div></ng-template>

</swiper>
<h4 class="display-4 fw-bold">¿Por qué usar el promedio cuando puedes usar lo mejor?</h4>




<!--masonry-->
<br>
<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;" id="masonry">
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
    <div class="card shadow-lg">
      <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>--->
      <img src="../../../assets/images/bordado2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="200">

      <div class="card-body">
        <h5 class="card-title">Bordados</h5>
        <p class="card-text">Bordamos el logo de tu empresa , de una manera clara y que se pueda distinguir facilmente.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3333%; top: 0px;">
    <div class="card p-3 shadow-lg">
      <figure class="p-3 mb-0">
        <blockquote class="blockquote">
          <p>Contactanos:</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 text-primary">
          Los Mochis Sinaloa: <cite title="Source Title">6682347696</cite>
        </figcaption><br>
        <figcaption class="blockquote-footer mb-0 text-primary">
          Los Cabos: <cite title="Source Title">6682327880 y 6681932275</cite>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 66.6667%; top: 0px;">
    <div class="card shadow-lg">
     <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>-->
      <img src="../../../assets/images/originals/roja2.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="200">

      <div class="card-body">
        <h5 class="card-title">Diferentes colores</h5>
        <p class="card-text">Tu eliges el estilo,puedes elegir entre diferentes colores.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3333%; top: 171px;">
    <div class="card text-bg-primary text-center p-3">
      <figure class="mb-0">
        <blockquote class="blockquote">
          <p>Email:</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 text-primary">
          ventasvgauniformes@gmail.com<cite title="Source Title"></cite>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3333%; top: 310px;">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Materiales duraderos</h5>
        <p class="card-text">Es muy importante contar con materiales duraderos,comodos y que se adapten a ti.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 362px;">
    <div class="card shadow-lg">
      <!--<svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>-->
      <img src="../../../assets/images/materials2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="200">

    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 66.6667%; top: 378px;">
    <div class="card p-3 text-end">
      <figure class="mb-0">
        <blockquote class="blockquote">
          <p>Aprovecha y no te quedes sin el tuyo!</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 text-muted">
          Solicita o cotiza con nosotros.
        </figcaption>
      
      </figure>
    </div>
  </div>

</div>

<!--masonry-->





</div>