#nosotros{
    margin-top: 100px;    
}
#hub{
    margin-top: 100px;
}
.separacion{
    margin: 8px;
}
.bodycolor{
    background-color: #212529;
}
.colorwhite{
    color: white;
}

/*theme.bundle.css*/
  /*barra*/
  html {
    overflow-x: hidden
}

@media (hover:none) {
    body {
        overflow-x: hidden
    }
}


.container-fluid{
   
    --bs-body-color-rgb: 75, 86, 107;
    --bs-body-bg-rgb: 255, 255, 255;
  
    --bs-body-color: #4b566b;
    --bs-body-bg: #fff;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    width: 100%;
   
    padding-right: 0 !important;
    padding-left: 0 !important;
}


