<br>
<section class="pt-4 pt-md-11" id="nosotros">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 order-md-2">
  
          <!-- Image -->
          <img src="../../../assets/images/maquina.jpg" class="img-fluid mb-6 mb-md-0 rounded" alt="...">
  
        </div>
        <div class="col-12 col-md-7 order-md-1">
  
          <!-- Heading -->
          <h1 class="display-4 fw-bold" >
            ¿QUIENES SOMOS?<br>            
          </h1>
         <!--<span>VGA Uniformes es una empresa que ofrece a sus clientes una relaci&oacute;n de calidad-precio en las marcas
          que manejamos.<br>
          Ofrecemos servicio de bordado y serigrafia para plasmar as&iacute; la imagen  de su organizaci&oacute;n.
         </span>
         <br>-->
          <!-- Text -->
          <!--<ul class="separacion">
            <li><p class="lead  mb-0" >
              Garantizamos tu satisfacción 
            </p>
          </li>
          <li><p class="lead  mb-0" >
            Garantizamos la durabilidad de tus uniformes
          </p>
        </li>
        <li><p class="lead  mb-0" >
          Un uniforme que te enorgullecerá
        </p>
      </li>
          </ul>-->

          <p class="lead mb-0" >
            VGA Uniformes es una empresa que ofrece a sus clientes una relaci&oacute;n de calidad-precio en las marcas
            que manejamos.<br>
            Ofrecemos servicio de bordado y serigrafia para plasmar as&iacute; la imagen  de su organizaci&oacute;n.
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>




